<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://cdn.wallpapersafari.com/62/92/IDhMbg.jpg);
    }
</style>
<center><h1 style="background-color: aliceblue;" >About Me</h1></center>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/588EYbS3uqs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
 
<p style="background-color: aliceblue;">I am Mel and I am a multi instrumental musician. I decided to make this website because while learning new songs on my instruments I learn  more about its history and how each genre has a small connection to each other, so I wanted to share the information with as many people as possible.</p>

{% endblock %}