<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Me</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/588EYbS3uqs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>I am Mel and I am a multi instrumental musician. I decided to make this website because while learning new songs on my instruments I learn  more about its history and how each genre has a small connection to each other, so I wanted to share the information with as many people as possible.</p>

{% endblock %}