<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Me</h1>
<img src="Musiccandidmel.jpg" alt="">
<img src="Sonumbecandid.jpeg" alt="">
<p>I’m Mel and I’m a multi instrumental musician. I decided to make this website because while learning new songs on my instruments I learn  more about its history and how each genre has a small connection to each other, so I wanted to share the information with as many people as possible.</p>

{% endblock %}