<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color:aliceblue">Acapella</h1></center>
<p style="color:aliceblue" >A cappella music is a performance by a singer or a singing group without instrumental accompaniment, or a piece intended to be performed in this way. The term a cappella was originally intended to differentiate between Renaissance polyphony and Baroque concertato musical styles. In the 19th century, a renewed interest in Renaissance polyphony, coupled with an ignorance of the fact that vocal parts were often doubled by instrumentalists, led to the term coming to mean unaccompanied vocal music. The term is also used, rarely, as a synonym for alla breve.</p>
<p style="color:aliceblue">All information was foun on the internet</p>
{% endblock %}