<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Music of Africa</h1>
<p> With Africa being the second biggest continent in the world their music is diverse and each region has their unique musical traditions. The music and dance of the African diaspora, formed to varying degrees on African musical traditions, include American music like Dixieland jazz, blues, jazz, and many Caribbean Genres, such as calypso and soca. Latin American music genres such as zouk, bomba, conga, rumba, son cubano, salsa music, cumbia and samba, were founded on the music of enslaved Africans, and have in turn influenced African popular music.</p>

<p>Another distinguishing form of African music is its call-and-response nature: one voice or instrument plays a short melodic phrase, and that phrase is echoed by another voice or instrument. The call-and-response nature extends to the rhythm, where one drum will play a rhythmic pattern, echoed by another drum playing the same pattern. African music is also highly improvised. A core rhythmic pattern is typically played, with drummers then improvising new patterns over the static original patterns.</p>

<p>Here is more information about</p>
<ul>
    <li><a href="/Afrobeats">AfroBeats</a></li>
    <li><a href="/Benga">Benga</a></li>
    <li><a href="/Chimurenga">Chimurenga</a></li>
    <li><a href="/Ethio">Ethio-Jazz</a></li>
    <li><a href="/Gnawa">Gnawa/Entho-pop/gwani blues</a></li>
    <li><a href="/Highlife">Highlife</a></li>
    <li><a href="/Hiplife">Hiplife</a></li>
    <li><a href="/Inkiranya">Inkiranya</a></li>
    <li><a href="/juju">Juju</a></li>
    <li><a href="/majika">Majika</a></li>
    <li><a href="/mbalax">Mbalax</a></li>
    <li><a href="/ndombolo">Ndombolo</a></li>
    <li><a href="/palmwine">Palm wine</a></li>
    <li><a href="/rababah">Rababah</a></li>
    <li><a href="/shaabi">Shaabi</a></li>
    <li><a href="/somalijazz">Somali jazz</a></li>
    <li><a href="/soukou">Soukou/Congolese rumba</a></li>
    <li><a href="/ubongo">Ubongo</a></li>
    <li><a href="/zilin">Zilin</a></li>
    <li><a href="/zouglou">Zouglou</a></li>
</ul>


<p> All Information was found from Wikipedia</p>
    
{% endblock %}