<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Afrobeat</h1>
<p>Afrobeat is a music genre that involves the combination of elements of West African musical styles such as fuji music and highlife with American jazz and later soul and funk influences, with a focus on chanted vocals, complex intersecting rhythms, and percussion.[1] The term was coined in the 1960s by Nigerian multi-instrumentalist and bandleader Fela Kuti, who is responsible for pioneering and popularizing the style both within and outside Nigeria.</p>

<p>Distinct from Afrobeat is Afrobeats a sound originating in West Africa in the 21st century, one that takes in diverse influences and is an eclectic combination of genres such as highlife, hip hop, house, jùjú, ndombolo, R&B and soca.[2][3][4][5][6][7] The two genres, though often conflated, are not the same.[3][4]</p>
{% endblock %}