<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/2234669.jpg);
    }
</style>
<center><h1  style="color: aliceblue;">American folk</h1></center>
<p  style="color: aliceblue;">The term American folk music encompasses numerous music genres, variously known as traditional music, traditional folk music, contemporary folk music, or roots music. Many traditional songs have been sung within the same family or folk group for generations, and sometimes trace back to such origins as Great Britain, Mainland Europe, or Africa. Musician Mike Seeger once famously commented that the definition of American folk music is "...all the music that fits between the cracks."</p>
<p  style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}