<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperbat.com/img/442839-storm-clouds-wallpaper.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Bachata</h1></center>
<p style="color: aliceblue;">Bachata is a genre of Latin American music that originated in the Dominican Republic in the first half of the 20th century. It is a fusion of southwestern European influences, mainly Spanish guitar music, with indigenous Taino and Sub Saharan African musical elements, representative of the cultural diversity of the Dominican population.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}