<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Bachata</h1>
<p>Bachata is a genre of Latin American music that originated in the Dominican Republic in the first half of the 20th century. It is a fusion of southwestern European influences, mainly Spanish guitar music, with indigenous Taino and Sub Saharan African musical elements, representative of the cultural diversity of the Dominican population.</p>
<p>All information was foun on the internet</p>
{% endblock %}