<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Balia</h1>
<p>Baila (also known as bayila; from the Portuguese verb bailar, meaning to dance[1]) is a form of music, popular in Sri Lanka and among Goan Catholics. The genre originated centuries ago among the Portuguese Burghers and Sri Lankan Kaffirs. Baila songs are played during parties and weddings in Sri Lanka, Goa, Mangalore and Portugal accompanied by dancing. Baila music, as a form of folk art, has been popular for centuries in Sri Lanka. During the early 1960s, it entered into Sri Lanka's mainstream culture, primarily through the work of police officer turned singer Wally Bastiansz. He began adapting the 6/8 "kaffirhina" rhythms to accommodate Sinhala lyrics. By the 1970s musicians, including MS Fernando and Maxwell Mendis, had helped Baila grow into a well known and respected style of Sri Lankan popular music. It is primarily considered dance music.</p>
<p>All information was found on the Internet</p>
{% endblock %}