<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Bluegrass</h1>
<p>Bluegrass music is a genre of American roots music that developed in the 1940s in the United States Appalachian region. The genre derives its name from the band Bill Monroe and the Blue Grass Boys.Unlike mainstream country music, bluegrass is traditionally played on acoustic stringed instruments. Bluegrass has roots in traditional English, Scottish, and Irish ballads and dance tunes and in traditional African-American blues and jazz. Bluegrass was further developed by musicians who played with Monroe, including 5-string banjo player Earl Scruggs and guitarist Lester Flatt. Monroe characterized the genre as: "Scottish bagpipes and ole-time fiddlin'. It's a part of Methodist, Holiness and Baptist traditions. It's blues and jazz, and it has a high lonesome sound."</p>
<p>All information was foun on the internet</p>
{% endblock %}