<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperbat.com/img/442839-storm-clouds-wallpaper.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Bossa Nova</h1></center>
<p style="color: aliceblue;">Bossa nova is a style of samba developed in the late 1950s and early 1960s in Rio de Janeiro, Brazil. It is mainly characterized by a "different beat" that altered the harmonies with the introduction of unconventional chords and an innovative syncopation of traditional samba from a single rhythmic division. The "bossa nova beat" is characteristic of a samba style and not of an autonomous genre.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}