<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://i.pinimg.com/originals/5d/9e/27/5d9e2772696967ddf0d6f24d06f7f0e2.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Calypso</h1></center>
<p style="color: aliceblue;">Calypso is a style of Afro-Caribbean music that originated in Trinidad and Tobago during the early to the mid-19th century and spread to the rest of the Caribbean Antilles and Venezuela by the mid-20th century. Its rhythms can be traced back to West African Kaiso and the arrival of French planters and their slaves from the French Antilles in the 18th century.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}