<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Calypso</h1>
<p>Calypso is a style of Afro-Caribbean music that originated in Trinidad and Tobago during the early to the mid-19th century and spread to the rest of the Caribbean Antilles and Venezuela by the mid-20th century. Its rhythms can be traced back to West African Kaiso and the arrival of French planters and their slaves from the French Antilles in the 18th century.</p>
<p>All information was foun on the internet</p>
{% endblock %}