<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Caribbean music</h1>
<p>>Caribbean music genres are diverse. They are each syntheses of African, European, Indian and Indigenous influences, largely created by descendants of African slaves , along with contributions from other communities (such as Indo-Caribbean music). Some of the styles to gain wide popularity outside the Caribbean include, bachata, merenque, palo, mombo, denbo, baithak gana, bouyon, cadence-lypso, calypso, chutney, chutney-soca, compas, dancehall, jing ping, parang, pichakaree, punta, ragga, reggae, reggaeton, salsa, soca, and zouk. Caribbean music is also related to Central American and South American music. The history of Caribbean music originates from the history of the Caribbean itself. That history is one of the native land invaded by outsiders; violence, slavery, and even genocide factor in.</p>
<p>Here is more information about</p>
<ul>
    <li><a href="/Calypso">Calypso</a></li>
    <li><a href="/Dancehall">Dancehall</a></li>
    <li><a href="/Mambo">Mambo</a></li>
    <li><a href="/Mento"> Mento</a></li>
    <li><a href="/Merengue">Merenque</a></li>
    <li><a href="/Reggae">Reggae</a></li>
    <li><a href="/Rocksteady">Rocksteady</a></li>
    <li><a href="/Salsa">Salsa</a></li>
    <li><a href="/Ska">Ska</a></li>
    <li><a href="/Soca"> Soca </a></li>
    <li><a href="/Steel"> Steel band music/pan music </a></li>
    <li><a href="/Zouk">Zouk</a></li>
</ul>
{% endblock %}