<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color: aliceblue;">Carnatic</h1></center>
<p style="color: aliceblue;">Carnatic music, known as Karnāṭaka saṃgīta or Karnāṭaka saṅgītam in the South Indian languages, is a system of music commonly associated with South India, including the modern Indian states of Karnataka, Andhra Pradesh, Telangana, Kerala and Tamil Nadu, and Sri Lanka. It is one of two main subgenres of Indian classical music that evolved from ancient Sanatana dharma sciences and traditions, particularly the Samaveda. The other subgenre being Hindustani music, which emerged as a distinct form because of Persian or Islamic influences from Northern India. The main emphasis in Carnatic music is on vocal music; most compositions are written to be sung, and even when played on instruments, they are meant to be performed in gāyaki (singing) style.</p>
<p style="color: aliceblue;">All information was found on the Internet</p>
{% endblock %}