<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color: aliceblue;">Chinese Folk </h1></center>
<p style="color: aliceblue;">There are dozens of styles of folk music in China. Along with the Han folk music, the ethnic folk music that tourists might hear and most like includes the Tibetan, Uighur, and Dong folk music. The Miao are famous for their singing.</p>
<p style="color: aliceblue;">All information was found on the Internet</p>
{% endblock %}