<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Chinese Opera</h1>
<p>raditional Chinese opera (traditional Chinese: 戲曲; simplified Chinese: 戏曲; pinyin: xìqǔ; Jyutping: hei3 kuk1), or Xiqu, is a form of musical theatre in China with roots going back to the early periods in China. It is an amalgamation of various art forms that existed in ancient China, and evolved gradually over more than a thousand years, reaching its mature form in the 13th century, during the Song dynasty (960–1279). Early forms of Chinese theater are simple, but over time they incorporated various art forms, such as music, song and dance, martial arts, acrobatics, costume and make-up art, as well as literary art forms to become traditional Chinese opera.</p>
<p>All information was found on the Internet</p>
{% endblock %}