<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Compas</h1>
<p>Compas is a modern méringue dance music of Haiti. The genre was popularized following the creation of Ensemble Aux Callebasses in (1955), which became Ensemble Nemours Jean-Baptiste In 1957. The frequent tours of the many Haitian bands have cemented the style in all the Caribbean. Therefore, compas is the main music of several countries such as Dominica and the French Antilles.[2] Whether it is called zouk, where French Antilles artists of Martinique and Guadeloupe have taken it, or compas in places where Haitian artists have toured, this méringue style is influential in part of [3] the Caribbean, Portugal, Cape Verde, France, part of Canada, South and North America.</p>
<p>All information was foun on the internet</p>
{% endblock %}