<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperbat.com/img/442839-storm-clouds-wallpaper.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Cumbia</h1></center>
<p style="color: aliceblue;">Cumbia is a folkloric genre and dance from Colombia. Since the 1940s, commercial or modern Colombian cumbia expanded to the rest of Latin America, after which it became popular throughout the continent, including in Argentina, Bolivia, Chile, the Dominican Republic, Ecuador, Mexico, Peru, El Salvador, United States, Uruguay, and Venezuela.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}