<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color: aliceblue;">Dangdut</h1></center>
<p style="color: aliceblue;">Dangdut is a genre of Indonesian dance and folk popular music originated from Java. Dangdut is partly derived and fused from Hindustani, Arabic, Malay music, and to lesser extent, local folk music. Dangdut is a most popular musical genre in Indonesia and a very popular in other Malay World countries as well because of its melodious instrumentation and vocals. Dangdut features a tabla and gendang beat.</p>
<p style="color: aliceblue;">All information was found on the Internet</p>
{% endblock %}