<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/1162636.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Electronic dance music</h1></center>
<p style="color: aliceblue;">Electronic dance music (EDM), also known as dance music, club music, or simply dance, is a broad range of percussive electronic music genres made largely for nightclubs, raves, and festivals. It is generally produced for playback by DJs who create seamless selections of tracks, called a DJ mix, by segueing from one recording to another. EDM producers also perform their music live in a concert or festival setting in what is sometimes called a live PA.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}