<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Ethio-Jazz</h1>
<p>One of Ethiopia's greatest innovations, Ethiopian Jazz, termed “Ethio-jazz,” is a unique fusion of traditional Ethiopian music with jazz, Afro-funk, soul, and Latin rhythms. Marked by eerie and ancient-sounding tones, typical of traditional Ethiopian music, Ethio-jazz also displays the sensual undertones of soulful jazz. </p>
<p>The roots of Ethiopia’s jazz tradition can be traced back to the 1950s with Nerses Nalbandian, who laid a strong foundation for the development of contemporary Ethiopian music. Of Armenian origin, Nalbandians family settled in Ethiopia, escaping the genocide in Turkey around 1915. Following in the footsteps of his uncle, Kervok Nalbandian, a renowned maestro in Ethiopia, Nalbandian took over as the head of the National Opera when his uncle retired. Tasked by Emperor Haile Selassie to compose music for the National Theatre, Nalbandian had to figure out how to harmonise local sounds in big band arrangement without destroying the music’s authenticity. Ingeniously, Nalbandian set about solving this complexity – given Ethiopian music’s unique scales – by borrowing from Western instrumentation. Often regarded as the pioneer of modern Ethiopian music, Nalbandian undeniably set the basis for the evolution of Ethio-jazz.</p>
<p>All information was found on Culture trip</p>
{% endblock %}