<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpapercave.com/wp/wp2841250.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Music of Europe</h1></center>
<p style="color: aliceblue;">Europe’s musical history is rich and varied, from classical, to 80s synths, to Swedish pop domination. Every genre of music has found a home within Europe.</p>
<p style="color: aliceblue;">Here is more information about</p>
<ul>
    <li><a href="/Acapella" style="background-color: aliceblue;">Acapella</a></li>
    <li><a href="/Celtic" style="background-color: aliceblue;">Celtic Chant</a></li>
    <li><a href="/Drum" style="background-color: aliceblue;">Drum & bass</a></li>
    <li><a href="/Euro" style="background-color: aliceblue;"> Euro-Disco</a></li> 
    <li><a href="/Flamenco" style="background-color: aliceblue;">Flamenco</a></li>
    <li><a href="/Glitch" style="background-color: aliceblue;">Glitch pop</a></li>
    <li><a href="/Grime" style="background-color: aliceblue;">Grime</a></li>
    <li><a href="/Opera" style="background-color: aliceblue;">Opera</a></li>
    <li><a href="/Polka" style="background-color: aliceblue;">Polka</a></li>
    <li><a href="/Trance" style="background-color: aliceblue;">Trance</a></li>
</ul>
{% endblock %}