<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Music of Europe</h1>
<p>Europe’s musical history is rich and varied, from classical, to 80s synths, to Swedish pop domination. Every genre of music has found a home within Europe.</p>
<p>Here is more information about</p>
<ul>
    <li><a href="/Acapella">Acapella</a></li>
    <li><a href="/Celtic">Celtic Chant</a></li>
    <li><a href="/Drum">Drum & bass</a></li>
    <li><a href="/Euro"> Euro-Disco</a></li> 
    <li><a href="/Flamenco">Flamenco</a></li>
    <li><a href="/Glitch">Glitch pop</a></li>
    <li><a href="/Grime">Grime</a></li>
    <li><a href="/Opera">Opera</a></li>
    <li><a href="/Polka">Polka</a></li>
    <li><a href="/Trance">Trance</a></li>
</ul>
{% endblock %}