<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color: aliceblue;">Gagaku Court music </h1></center>
<p style="color: aliceblue;">Gagaku is a type of Japanese classical music that was historically used for imperial court music and dances. Gagaku was developed as court music of the Kyoto Imperial Palace, and its near-current form was established in the Heian period (794-1185) around the 10th century. Today, it is performed by the Board of Ceremonies in the Tokyo Imperial Palace. Gagaku consists of three primary repertoires:</p>
<p style="color: aliceblue;">All information was found on the Internet</p>
{% endblock %}