<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color: aliceblue;">Goa trance</h1></center>
<p style="color: aliceblue;">Goa trance is an electronic dance music style that originated in the early 1990s in the Indian state of Goa.Goa trance often has drone-like basslines, similar to the techno minimalism of 21st century psychedelic trance (psytrance). Psychedelic trance developed from Goa trance.</p>
<p style="color: aliceblue;">All information was found on the Internet</p>
{% endblock %}