<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color: aliceblue;">Grime</h1></center>
<p style="color: aliceblue;">Grime is a genre of electronic music that emerged in London in the early 2000s. It developed out of the earlier UK dance style UK garage, and draws influences from jungle, dancehall, and hip hop. The style is typified by rapid, syncopated breakbeats, generally around 140 beats per minute,and often features an aggressive or jagged electronic sound. Emceeing is a significant element of the style, and lyrics often revolve around gritty depictions of urban life.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}