<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Hindustani classical music</h1>
<p>Hindustani classical music is the classical music of northern regions of the Indian subcontinent. It may also be called North Indian classical music or, in Hindustani, shastriya sangeet. Its origins date from the 12th century CE, when it diverged from Carnatic music, the classical tradition of southern regions of the Indian subcontinent.</p>
<p>All information was found on the Internet</p>
{% endblock %}