{% extends 'base.html' %}

{% block body %}
<p> </p>
<style>
    body {
    background-image: url(https://i.pinimg.com/originals/9d/eb/08/9deb08cbac490f5fa43032499f61c581.jpg);
    }
    </style> 
<center><h1 style="color:aliceblue">Welcome to History of World Music </h1></center>
<p> </p>
<p style="background-color:aliceblue">This is a website for those of you who want to learn more about the music you listen to or play. We have separated each section by region. You can choose to read about the region itself or about the major genres in that region! If you have any questions or want to leave any commets feel free to post on our questions tab. You can also share videos of yourself or musician you like on Youtube on the Video new tab or just see what everyone else has shared on video list tab.  More about the creator in the About me page.</p>

{% endblock %}