<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Japanese Folk</h1>
<p>The abundant folk music of Japan may be classified under several major headings, religious songs, work songs, ballads, children’s songs, and dancing songs sung at festivals.” This album introduces the listener to all of these different styles, featuring the singing of temples monks, coastal villagers, and city geishas. Also on display is the variety of musical instruments including the samisen, the bamboo flute, and others.</p>
<p>All information was found on the Internet</p>
{% endblock %}