<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/1162636.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Jazz</h1></center>
<p style="color: aliceblue;">Jazz is a music genre that originated in the African-American communities of New Orleans, Louisiana in the late 19th and early 20th centuries, with its roots in blues and ragtime. Since the 1920s Jazz Age, it has been recognized as a major form of musical expression in traditional and popular music, linked by the common bonds of African-American and European-American musical parentage. Jazz is characterized by swing and blue notes, complex chords, call and response vocals, polyrhythms and improvisation. Jazz has roots in European harmony and African rhythmic rituals.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}