<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Merengue</h1>
<p>Merengue is a type of music and dance originating in the Dominican Republic, which has become a very popular genre throughout Latin America, and also in several major cities in the United States with latino communities. Merengue was inscribed on November 30, 2016 in the representative list of the Intangible Cultural Heritage of Humanity of UNESCO.</p>
<p>All information was foun on the internet</p>
{% endblock %}