<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Mesitzo</h1>
<p>Mestizo music often recalls the rollicking rhythms of flamenco, rumbia, and salsa with lyrics that tell stories of rural life, love, and death. Other typical Mestizo musical instruments include harps, trumpets, and violins. Mestizo cooking is similar but distinctly different than Mexican food.</p>
<p>All information was foun on the internet</p>
{% endblock %}