<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Heavy Metal</h1>
<p>Heavy metal (also known as simply metal) is a genre of rock music that developed in the late 1960s and early 1970s, largely in the United Kingdom and United States. With roots in blues rock, psychedelic rock and acid rock, heavy metal bands developed a thick, monumental sound characterized by distortion, extended guitar solos, emphatic beats and loudness. The lyrics and performances are usually associated with aggression and machismo, an issue that has sometimes led to accusations of misogyny.</p>
<p>All information was foun on the internet</p>
{% endblock %}