<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpapercave.com/wp/wp3145662.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">North American Music</h1></center>
<p style="color: aliceblue;">Traditional American music and Canadian music features drums and simple instruments used by Native tribes. Modern American music incorporates influences from a variety of cultures.</p>
<p style="color: aliceblue;">Here is more information about</p>
<ul>
    <li><a href="/AmericanFolk" style="background-color: aliceblue;">American Folk</a></li>
    <li><a href="/Bluegrass" style="background-color: aliceblue;">Bluegrass</a></li>
    <li><a href="/Blues" style="background-color: aliceblue;">Blues</a></li>
    
    <li><a href="/Industrial" style="background-color: aliceblue;">Industrial</a></li>
    <li><a href="/Swing" style="background-color: aliceblue;">Swing</a></li>
    <li><a href="/Tejano" style="background-color: aliceblue;">Tejano</a></li>
    <li><a href="/Zydeco" style="background-color: aliceblue;">Zydeco</a></li>
 
</ul> 
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}