<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>North American Music</h1>
<p>Traditional American music and Canadian music features drums and simple instruments used by Native tribes. Modern American music incorporates influences from a variety of cultures.</p>
<p>Here is more information about</p>
<ul>
    <li><a href="/AmericanFolk">American Folk</a></li>
    <li><a href="/Bluegrass">Bluegrass</a></li>
    <li><a href="/Blues">Blues</a></li>
    <li><a href="/CandianFolk">Canadian Folk</a></li>
    <li><a href="/Industrial">Industrial</a></li>
    <li><a href="/Swing">Swing</a></li>
    <li><a href="/Tejano">Tejano</a></li>
    <li><a href="/Zydeco">Zydeco</a></li>
 
</ul> 
<p>All information was foun on the internet</p>
{% endblock %}