<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/1162636.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Oldies</h1></center>
<p style="color: aliceblue;">Oldies is a term for musical genres such as pop music, rock and roll, doo-wop, surf music (broadly characterized as classic rock and pop rock) from the second half of the 20th century, specifically from around the mid-1950s to the 1980s, as well as for a radio format playing this music.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}