<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color: aliceblue;">Polka</h1></center>
<p style="color: aliceblue;">The polka is originally a Czech dance and genre of dance music familiar throughout all of Europe and the Americas. It originated in the middle of the nineteenth century in Bohemia, now part of the Czech Republic. The polka remains a popular folk music genre in many western countries, and is performed by many folk artists.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}