<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Rababah</h1>
<p>Pharaonic, Roman, Byzantine, Arab, Ethiopian, and East and West African cultures all have echoes in Southern Egypt’s Nubia region. A group of Sudanese people immigrated to the south of Egypt seven generations ago. But one family of Sudanese origins, the Mataqil, have a long cultivated alliance with gypsy families who specialised in the art of singing. Shamandi Tewfiq Metqal with his ensemble The Musicians of the Nile incarnates this form of traditional singing in epic poetic form.</p>
<p>All information was found on Real World Records</p>
{% endblock %}