<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color: aliceblue;">Raga rock</h1></center>
<p style="color: aliceblue;">Raga rock is rock or pop music with a pronounced Indian influence, either in its construction, its timbre, or its use of Indian musical instruments, such as the sitar and tabla. In addition, rock music from the 1960s and 1970s that incorporates South Asian musical influences and instruments, along with Western ideas of the Indian subcontinent, is often regarded as raga rock. Since Indian influences in popular music are primarily limited to the 1960s, most raga rock recordings originate from that decade, although there are examples of Indian-derived sounds in post-1960s rock and pop music.</p>
<p style="color: aliceblue;">All information was found on the Internet</p>
{% endblock %}