<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperbat.com/img/442839-storm-clouds-wallpaper.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Ranchera</h1></center>
<p style="color: aliceblue;">Ranchera or canción ranchera is a genre of traditional music of Mexico. It dates to before the years of the Mexican Revolution. It later became closely associated with the Mariachi bands that evolved in Jalisco. Rancheras today are played in virtually all regional Mexican music styles. Drawing on rural traditional folk music, the ranchera developed as a symbol of a new national consciousness in reaction to the aristocratic tastes of the period.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}