<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Rap</h1>
<p>Rapping (also rhyming, spitting, emceeing or MCing) is a musical form of vocal delivery that incorporates "rhyme, rhythmic speech, and street vernacular", which is performed or chanted in a variety of ways, usually over a backing beat or musical accompaniment. The components of rap include "content" (what is being said), "flow" (rhythm, rhyme), and "delivery" (cadence, tone). Rap differs from spoken-word poetry in that it is usually performed off time to musical accompaniment. Rap being a primary ingredient of hip hop music, it is commonly associated with that genre in particular; however, the origins of rap predate hip-hop culture by many years.</p>
<p>All information was foun on the internet</p>
{% endblock %}