<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://i.pinimg.com/originals/5d/9e/27/5d9e2772696967ddf0d6f24d06f7f0e2.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Reggae</h1></center>
<p style="color: aliceblue;">Reggae is a music genre that originated in Jamaica in the late 1960s. The term also denotes the modern popular music of Jamaica and its diaspora. A 1968 single by Toots and the Maytals, "Do the Reggay" was the first popular song to use the word "reggae", effectively naming the genre and introducing it to a global audience. While sometimes used in a broad sense to refer to most types of popular Jamaican dance music, the term reggae more properly denotes a particular music style that was strongly influenced by traditional mento as well as American jazz and rhythm and blues, and evolved out of the earlier genres ska and rocksteady.Reggae usually relates news, social gossip, and political commentary. It is instantly recognizable from the counterpoint between the bass and drum downbeat and the offbeat rhythm section. The immediate origins of reggae were in ska and rocksteady; from the latter, reggae took over the use of the bass as a percussion instrument.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}