<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperbat.com/img/442839-storm-clouds-wallpaper.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Reaggaeton</h1></center>
<p style="color: aliceblue;">Reggaeton also known as reggaetón and reguetón, is a music style that originated in Panama during the early-1990s. It has evolved from dancehall and has been influenced by American hip hop, Latin American, and Caribbean music. Vocals include rapping and singing, typically in Spanish.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}