<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperbat.com/img/442839-storm-clouds-wallpaper.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Salsa</h1></center>
<p style="color: aliceblue;">Salsa music is a style of Latin American music. Because most of the basic musical components predate the labeling of salsa, there have been many controversies regarding its origin. Most songs considered as salsa are primarily based on son montuno, with elements of mambo, Latin jazz, bomba, plena and guaracha. All of these elements are adapted to fit the basic son montuno template when performed within the context of salsa. Originally the name salsa was used to label commercially several styles of Latin dance music, but nowadays it is considered a musical style on its own and one of the staples of Latin American culture.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}