<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Samba</h1>
<p>Samba , also known as samba urbano carioca  or simply samba carioca, is a Brazilian music genre that originated in the Afro-Brazilian communities of Rio de Janeiro in the early 20th century.[5][6] Having its roots in Brazilian folk traditions,[7][8] especially those linked to the primitive rural samba of the colonial and imperial periods,is considered one of the most important cultural phenomena in Brazil and one of the country's symbols.</p>
<p>All information was foun on the internet</p>
{% endblock %}