<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperbat.com/img/442839-storm-clouds-wallpaper.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Samba</h1></center>
<p style="color: aliceblue;">Samba , also known as samba urbano carioca  or simply samba carioca, is a Brazilian music genre that originated in the Afro-Brazilian communities of Rio de Janeiro in the early 20th century.[5][6] Having its roots in Brazilian folk traditions,[7][8] especially those linked to the primitive rural samba of the colonial and imperial periods,is considered one of the most important cultural phenomena in Brazil and one of the country's symbols.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}