<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Shaabi</h1>
<p>Shaabi is an Egyptian musical genre. It is a form of popular working-class music which evolved from Egyptian Baladi in the second half of the 20th century, it's the core of Egyptian people music in streets and weddings and every day Egyptian life. Shaabi means "of the people", specifically "locally popular". It originated in Cairo in the 1970s as a new form of the local urban music expressing the difficulties and frustrations of modern Egyptian life. Shaabi lyrics can be both intensely political, and filled with humour and double entendre. Because of its nature as street music, and widespread indifference to copyright law among Egyptians, Shaabi today is mainly distributed on pirated tapes and CDs.</p>
<p>All information was found on Wikipedia</p>
{% endblock %}