<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Somali Jazz</h1>
<p>The qaraami genre AKA Somali Jazz arose in the 1940s as the main style of modern Somali popular music, carrying features of the regional music such as the use of a a pentatonic scale and having the oud as the primary instrument, but also fusing outside influences: at first Traditional Arabic Pop, and then throughout the 1960s and 1970s Jazz, Soul and Funk. The Waaberi ensemble, established by the Ministry of Information and National Guidance, was present since the genre's inception and served as training ground for many of the biggest stars of Somali song such as Magool and Maryam Mursal. Qaraami acquired a political character throughout the government of Siad Barre, with many artists either praising the regime producing "revolutionary music" sponsored by the government or singing protest songs. Qaraami songs are still highly popular in Somalia.</p>
<p>All information was found on RYM</p>
{% endblock %}