<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Soukou</h1>
<p>Soukous (from French secousse, "shock, jolt, jerk") is a genre of dance music from Congo-Kinshasa and Congo-Brazzaville. It derived from Congolese rumba in the 1960s and gained popularity in the 1980s in France. Although often used by journalists as a synonym for Congolese rumba, both the music and dance associated with soukous differ from more traditional rumba, especially in its higher tempo, longer dance sequences. Notable performers of the genre include African Fiesta, Papa Wemba and Pépé Kallé.</p>
<p>All information was found on Wikipedia</p>
{% endblock %}