<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://i.pinimg.com/originals/5d/9e/27/5d9e2772696967ddf0d6f24d06f7f0e2.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Steel band music/pan music</h1></center>
<p style="color: aliceblue;">steel band, also spelled steelband, Trinidadian music ensemble, particularly associated with Carnival, that is primarily composed of steel idiophones—called pans or steel pans—made from the bottoms of 55-gallon oil barrels. The barrel bottoms are hammered inward, different areas being shaped to yield distinct pitches. When struck with rubber-tipped mallets, the instruments produce bell-like tones. A steel band typically includes pans of various pitch ranges as well as a number of nonmelodic percussion instruments.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}