<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/2234669.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Swing</h1></center>
<p style="color: aliceblue;">Swing music is a style of jazz that developed in the United States during the late 1920s and early 1930s. It became nationally popular from the mid-1930s. The name derived from its emphasis of the off-beat, or nominally weaker beat. Swing bands usually featured soloists who would improvise on the melody over the arrangement. The danceable swing style of big bands and bandleaders such as Benny Goodman was the dominant form of American popular music from 1935 to 1946, known as the swing era. The verb "to swing" is also used as a term of praise for playing that has a strong groove or drive.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}