<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Tango</h1>
<p>Tango is a style of music in 2/4 or 4/4 time that originated among European and African immigrant populations of Argentina and Uruguay. It is traditionally played on a solo guitar, guitar duo, or an ensemble, known as the orquesta típica, which includes at least two violins, flute, piano, double bass, and at least two bandoneóns. Sometimes guitars and a clarinet join the ensemble. Tango may be purely instrumental or may include a vocalist. Tango music and dance have become popular throughout the world.</p>
<p>All information was foun on the internet</p>
{% endblock %}