<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/1162636.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Techno</h1></center>
<p style="color: aliceblue;">Techno is a genre of electronic dance music (EDM) commonly characterized by a repetitive four on the floor beat which is generally produced for use in a continuous DJ set. The central rhythm is often in common time (4/4), while the tempo typically varies between 120 and 150 beats per minute (bpm). Artists may use electronic instruments such as drum machines, sequencers, and synthesizers, as well as digital audio workstations. Drum machines from the 1980s such as Roland's TR-808 and TR-909 are highly prized, and software emulations of such retro instruments are popular.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}