<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Tejano</h1>
<p>Tejano music, also known as Tex-Mex music, is a popular music style fusing Mexican and US influences. Typically, Tejano combines Mexican Spanish vocal styles with dance rhythms from Czech and German genres -particularly polka or waltz. Tejano music is traditionally played by small groups featuring accordion and guitar or bajo sexto. Its evolution began in northern Mexico (a variation known as norteño).</p>
<p>All information was foun on the internet</p>
{% endblock %}