<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/1162636.jpg);
    }
</style>
<center><h1 style="color: aliceblue;">Top Genres</h1></center>
<p style="color: aliceblue;">Genres reflect trends in society and they evolve when writers push the boundaries. Readers ultimately decide if the experiment has worked by buying these books. The most important part of genre fiction, though, is that it fulfils our human need for good, old-fashioned storytelling.</p>
<p style="color: aliceblue;">Here is more information about</p>
<ul>
    <li><a href="/Classical" style="background-color: aliceblue;">Classical</a></li>
    <li><a href="/Country" style="background-color: aliceblue;">Country</a></li>
    <li><a href="/EDM" style="background-color: aliceblue;">EDM</a></li>
    <li><a href="/Hiphop" style="background-color: aliceblue;">Hip-hop</a></li>
    <li><a href="/Indierock" style="background-color: aliceblue;">Indie Rock</a></li>
    <li><a href="/Jazz" style="background-color: aliceblue;">Jazz</a></li>
    <li><a href="/Kpop" style="background-color: aliceblue;">K-pop</a></li>
    <li><a href="/Metal" style="background-color: aliceblue;">Metal</a></li>
    <li><a href="/Oldies" style="background-color: aliceblue;">Oldies</a></li> 
    <li><a href="/Pop" style="background-color: aliceblue;">Pop</a></li>
    <li><a href="/Rap" style="background-color: aliceblue;">Rap</a></li>
    <li><a href="/RB" style="background-color: aliceblue;">R&B</a></li>
    <li><a href="/Rock" style="background-color: aliceblue;">Rock</a></li>
    <li><a href="/Techno" style="background-color: aliceblue;">Techno</a></li>
    
</ul> 
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}