<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color: aliceblue;">Trance</h1></center>
<p style="color: aliceblue;">Trance is a genre of electronic dance music that emerged from the British new-age music scene and the early 1990s German techno and hardcore scenes.Trance music is characterized by a tempo generally lying between 120–150 bpm (BPM), repeating melodic phrases and a musical form that distinctly builds tension and elements throughout a track often culminating in 1 to 2 "peaks" or "drops". Although trance is a genre of its own, it liberally incorporates influences from other musical styles such as techno, house, pop, chill-out, classical music, tech house, ambient and film music.</p>
<p style="color: aliceblue;">All information was foun on the internet</p>
{% endblock %}