<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://i.pinimg.com/originals/de/01/61/de0161de81679a2b5851fabc33f1aed4.png);
    }
</style>
<p style="color: aliceblue;">{{video.author.username}}</p> <br>
<p style="color: aliceblue;">{{video.title}}</p> <br>
<p style="color: aliceblue;">{{video.composer}}</p> <br>
<a href="{{video.vidLink}}">Play Video</a> <br>

<p style="color: aliceblue;">{{moment(video.createdate).calendar()}}</p> <br>

{% endblock %}
