<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
    body{
        background-image: url(https://wallpaperaccess.com/full/4834680.png);
    }
</style>
<center><h1 style="color: aliceblue;">V-pop</h1></center>
<p style="color: aliceblue;">V-pop , an abbreviation for Vietnamese popular music, is a music genre covering Vietnamese pop music from the 1990s to the present day.</p>
<p style="color: aliceblue;">All information was found on the Internet</p>
{% endblock %}