<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Zilin</h1>
<p>Zilin is a style rooted in Benin’s unique traditional vocal technique. The strong influence of the voodoo religion is an important part of Benin, which tells of healing and rejuvenating talismans (fetishes). Angelique Kidjo – the queen of African crossover pop, uses the zilin vocal technique. Angelique has often been criticised for having abandoned her African roots, but the impact of her career on African music is undeniable. Now based in New York, she often goes back to her native village Ouidah for spiritual inspiration.</p>
<p>All information was found on Real world Records </p>
{% endblock %}