<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Zouglou</h1>
<p>Zouglou is a dance oriented style of music originated from Ivory Coast during the mid-1990s. It started with students from a college of Gagnoa drawing on elements of other styles of music. Zouglou recounts the various social realities experienced by the Ivorian youth and carries messages, sometimes humorous, sometimes political, or, more often, delivers advice on life. It has since spread elsewhere, including to Burkina Faso, Cameroon and Gabon.</p>
<p>All information was found on Wikipedia</p>
{% endblock %}